/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta Vaani', sans-serif !important;
}

::-webkit-scrollbar {
  width: 10px;
  /* background-color: #335c67 !important; */
}
/* ::-webkit-scrollbar-track {
  background: #001529;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  /* border-radius: 5px; */
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #335c67;
} */


.light-text {
  font-weight: 100;
}


/* button */
.add-db-btn {
  position: absolute;
  top: 17px;
  right: 30px;
}
.spl-button {
  display: inline-block;
  padding: 2px 5px;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  color: #c6c6c6;
  background-color: green;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
}
.spl-button:hover {
  color: #fff;
}

/* tables */
.table_home {
  padding: 0px 10px;
}

.table_home > tr > td {
  padding: 5px !important;
}
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  padding: 5px !important;
}