<nz-layout class="left-layout">
  <nz-sider [nzWidth]="300" [nzTheme]="'dark'">
    <div>
      <div class="side_top">
        <div class="title">
          <h2 (click)="openDashBoard()">
            <i nz-icon nzType="code" nzTheme="outline"></i> Mongo GUI
          </h2>
        </div>
      </div>
      <div class="search-box">
        <nz-input-group [nzPrefix]="reloadIcon" [nzSuffix]="searchIcon">
          <input type="text" nz-input placeholder="Search for collections" class="search" [(ngModel)]="searchText"
            (keyup)="filter()" autocomplete="off" spellcheck="false" />
        </nz-input-group>
        <ng-template #reloadIcon><i nz-icon nzType="reload" class="reload-dbs-btn"
            [nzTooltipTitle]="isLoadingDbs ? 'Loading...' : 'Reload'" (click)="reloadSideNav()" nzTooltipPlacement="top"
            nz-tooltip></i></ng-template>
        <ng-template #searchIcon><i nz-icon nzType="search" style="color: #c4c4c4;"></i></ng-template>
      </div>
      <div class="side_explorer">
        <ul class="menu">
          <li *ngFor="let db of menuData" (click)="expand($event, db)">
            <div class="{{
                isInSearchMode ? 'db_item nav_item open' : 'db_item nav_item'
              }}">
              {{ db.name
              }}<span class="action"><span><i nz-icon nzType="plus-circle" nzTheme="outline"
                    nzTooltipTitle="Add new collection" nzTooltipPlacement="top" nz-tooltip
                    (click)="openModal('addTable', { database: db.name })"></i></span>
                <span><i nz-icon nzType="delete" nzTheme="fill" nzTooltipTitle="Drop database" nzTooltipPlacement="top"
                    nz-tooltip (click)="openModal('dropDataBase', { database: db.name })"></i></span>
              </span>
            </div>
            <ul>
              <li *ngFor="let collection of db.collections">
                <div class="nav_item collection_item" (click)="openTab(db.name, collection.name)">
                  {{collection.name}}&nbsp;
                  <span class="action">
                    <span><i nz-icon nzType="delete" nzTheme="fill" nzTooltipTitle="Drop collection"
                        nzTooltipPlacement="top" nz-tooltip (click)="
                          openModal('dropTable', {
                            database: db.name,
                            collection: collection.name
                          })
                        "></i></span>
                  </span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <a nzType="link" (click)="openModal('addDB', {})" class="spl-button add-db-btn">
          <i nz-icon nzType="plus" nzTheme="outline"></i>Add Database
        </a>
      </div>
    </div>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <nz-tabset [nzType]="'card'" [nzSelectedIndex]="activeTabIndex" *ngIf="tabs && tabs.length">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <div title="{{ tab.database + '.' + tab.collection }}">
              {{
              tab.collection.length > 28
              ? tab.collection.substring(0, 28) + '...'
              : tab.collection
              }}<i nz-icon nzType="close" class="ant-tabs-close-x" (click)="closeTab(tab.id)"></i>
            </div>
          </ng-template>
          <app-collection [database]="tab.database" [collection]="tab.collection"></app-collection>
        </nz-tab>
      </nz-tabset>
      <div *ngIf="(!tabs || tabs.length == 0) && active == 'databases'" class="dashboard-stats">
        <nz-descriptions nzTitle="Database stats">
          <nz-descriptions-item nzTitle="Databases">{{
            stats.databases
            }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Collections">{{
            stats.collections
            }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Size">{{
            stats.size | fileSize: 2
            }}</nz-descriptions-item>
        </nz-descriptions>
      </div>
      <nz-table *ngIf="(!tabs || tabs.length == 0) && active == 'databases'" #basicTable [nzData]="dbs.databases"
        nzBordered="true" class="table_home">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Collections</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <a href="javascript:void(0)" (click)="showCollections(data)">{{
                data.name
                }}</a>
            </td>
            <td>{{ data.sizeOnDisk | fileSize: 2 }}</td>
            <td>{{ data.collections.length }}
              <span class="drop-db" style="float: right; cursor: pointer;"><i nz-icon nzType="delete" nzTooltipTitle="Drop database" nzTooltipPlacement="top"
                nz-tooltip (click)="openModal('dropDataBase', { database: data.name })"></i></span>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <div style="padding: 10px;" *ngIf="(!tabs || tabs.length == 0) && active == 'databases'">
        <nz-tag nzColor="#211F1F">
          <a href="https://github.com/arunbandari/mongo-gui" target="_blank">
            <i nz-icon nzType="github"></i>
            <span> GitHub</span>
          </a>
        </nz-tag>
        <nz-tag nzColor="#c00">
          <a href="https://www.npmjs.com/package/mongo-gui" target="_blank">
            <i nz-icon></i>
            <span>npm</span>
          </a>
        </nz-tag>
      </div>
      <div *ngIf="(!tabs || tabs.length == 0) && active == 'collections'" class="collection-stats">
        <nz-descriptions nzTitle="Collection stats">
          <nz-descriptions-item nzTitle="Database">{{
            db.name
            }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Collections">{{
            db.collections.length
            }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Size">{{
            db.sizeOnDisk | fileSize: 2
            }}</nz-descriptions-item>
        </nz-descriptions>
      </div>
      <nz-table *ngIf="(!tabs || tabs.length == 0) && active == 'collections'" #basicTable [nzData]="db.collections"
        nzBordered="true" class="table_home">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Documents</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let collection of basicTable.data">
            <td>
              <a href="javascript:void(0)" (click)="openTab(db.name, collection.name)">{{
                collection.name
                }}</a>
            </td>
            <td>{{ collection.stats.size | fileSize: 2 }}</td>
            <td>{{ collection.stats.count }}
              <span class="drop-table" style="float: right; cursor: pointer;">
                <i nz-icon nzType="delete" nzTooltipTitle="Drop collection" nzTooltipPlacement="top" nz-tooltip (click)="
                openModal('dropTable', {
                  database: db.name,
                  collection: collection.name
                })
              "></i></span></td>
          </tr>
        </tbody>
      </nz-table>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-modal nzMaskClosable="false" [(nzVisible)]="addTable" (nzOnCancel)="closeModal('addTable')" nzTitle="Add new collection" [nzFooter]="null"
  [nzBodyStyle]="{height: '237px'}">
  <form nz-form [formGroup]="addTableForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="database">Database</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzExtra="New collection will be added to this database">
        <input nz-input formControlName="database" id="database" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="collection" nzRequired>Collection</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a valid name">
        <input nz-input id="collection" formControlName="collection" autocomplete="off" spellcheck="false" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div class="addTableFooter">
          <button class="add" nz-button nzType="primary" [disabled]="!addTableForm.valid || addTableLoader"
            (click)="createTable()">
            {{ addTableLoader ? 'Adding ...' : 'Add' }}
          </button>
          <button class="cancel" nz-button nzType="default" (click)="closeModal('addTable')">
            Cancel
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal nzMaskClosable="false" [(nzVisible)]="dropTable" nzTitle="Drop collection" (nzOnCancel)="closeModal('dropTable')"
  [nzBodyStyle]="{height: '300px'}" [nzFooter]="null">
  <form nz-form [formGroup]="dropTableForm">
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="database">Database</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="database" id="database" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="collection" nzRequired>Collection</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="collection" formControlName="collection" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="confirmCollection" nzRequired>Confirm collection</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzExtra="Please type the collection name to confirm.">
        <input nz-input id="confirmCollection" formControlName="confirmCollection" autocomplete="off"
          spellcheck="false" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div class="dropTableFooter">
          <button class="drop" nz-button nzType="danger" [disabled]="!dropTableForm.valid || dropTableLoader"
            (click)="dropCollection()">
            {{ dropTableLoader ? 'Dropping ...' : 'Drop' }}
          </button>
          <button class="cancel" nz-button nzType="default" (click)="closeModal('dropTable')">
            Cancel
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
<nz-modal nzMaskClosable="false" [(nzVisible)]="dropDataBase" nzTitle="Drop database" (nzOnCancel)="closeModal('dropDataBase')"
  [nzBodyStyle]="{height: '237px'}" [nzFooter]="null">
  <form nz-form [formGroup]="dropDataBaseForm">
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="database">
        Database
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="database" id="database" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="confirmDataBase" nzRequired>
        Confirm database
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzExtra="Please type the database name to confirm.">
        <input nz-input id="confirmDataBase" formControlName="confirmDataBase" autocomplete="off" spellcheck="false" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div class="dropDBFooter">
          <button class="drop" nz-button nzType="danger" [disabled]="!dropDataBaseForm.valid || dropDataBaseLoader"
            (click)="dropDB()">
            {{ dropDataBaseLoader ? 'Dropping ...' : 'Drop' }}
          </button>
          <button class="cancel" nz-button nzType="default" (click)="closeModal('dropDataBase')">
            Cancel
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
<nz-modal nzMaskClosable="false" [(nzVisible)]="addDB" nzTitle="Add Database" (nzOnCancel)="closeModal('addDB')"
  [nzBodyStyle]="{height: '257px'}" [nzFooter]="null">
  <form nz-form [formGroup]="addDBForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="database">Database</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="database" id="database" placeholder="Enter a name for the new database"
          autocomplete="off" spellcheck="false" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="collection" nzRequired>Collection</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24"
        nzExtra="You need to add at least one collection inorder to work with the new database">
        <input nz-input id="collection" formControlName="collection" autocomplete="off"
          placeholder="Enter a name for the new collection" spellcheck="false" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div class="addDBFooter">
          <button class="add" nz-button nzType="primary" [disabled]="!addDBForm.valid || addDBLoader"
            (click)="addDataBase()">
            {{ addDBLoader ? 'Adding ...' : 'Add' }}
          </button>
          <button class="cancel" nz-button nzType="default" (click)="closeModal('addDB')">
            Cancel
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>