.container {
  padding: 8px 10px;
  overflow: auto;
  height: calc(100vh - 140px);
  background: #f5f5f5;
}
.document {
  display: grid;
  grid-template-columns: 9fr 3fr;
  background-color: #ffffff;
  padding: 15px 8px;
  margin-bottom: 8px;
  position: relative;
}
.right [nz-button] {
  margin: 0px 4px !important;
  height: 25px;
  width: 25px;
}
.document .right [nz-button] {
  visibility: hidden;
}
.document:hover .right [nz-button],
.document:active .right [nz-button] {
  visibility: visible;
  transition-delay: 300ms;
}
.query {
  padding: 0px 10px;
}
.query [nz-input] {
  background: whitesmoke;
}
.help {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
.tab-content {
  grid-template-rows: auto;
}
.meta {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: 0px;
}
.meta li {
  padding: 0px 15px;
  vertical-align: middle;
  line-height: 30px;
}
.bar {
  display: grid;
  grid-template-columns: 8fr 4fr;
}
.btngroup {
  padding: 0px 10px;
}
.loader {
  top: 35%;
  left: 40%;
  position: absolute;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: #fff;
}

.pagination {
  padding: 5px 15px;
  border-bottom: 3px solid #e5e5e5;
}

.left-child,
.right-child {
  display: inline-block;
}

.right-child {
  text-align: right;
  float: right;
}
