ul {
  list-style-type: none;
  margin-bottom: 0px;
  font-family: monospace;
}
ul li {
  position: relative;
}
li ul {
  display: none;
}
.open {
  display: block !important;
}
.string {
  color: #2a9ead !important;
}
.number {
  color: #4b714d !important;
}
.boolean {
  color: firebrick !important;
}
.date {
  color: #e91e63 !important;
}
.null {
  color: #3f51b5 !important;
}
.objectId {
  color: #f7754c !important;
}
.regexp {
  color: #999 !important;
}
.timestamp {
  color: #333 !important;
}
.code {
  color: #0053a6 !important;
}
.notation {
  /* font-style: italic; */
  color: #999;
  font-size: 80%;
}
.key {
  font-weight: 600;
  color: #444;
  font-size: smaller;
}
.value {
  font-weight: 600;
  font-size: smaller;
  color: #999;
}
.hoverable {
  line-height: 18px;
}
.collapsed::before {
  /* content: '\25B7'; */
  content: '+';
}
.expanded::before {
  /* content: '\25E2'; */
  content: '-';
}
.tog {
  position: absolute;
  left: -18px;
  cursor: pointer;
  color: #fff !important;
  width: 12px;
  line-height: 12px;
  top: 4px;
  text-align: center;
  cursor: pointer;
  font-family: Arial, Tahoma, sans-serif;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-width: 1px;
  /* border-color: #0053a6 #0053a6 #000; */
  background-color: #ddd;
  background-image: -moz-linear-gradient(top, #4495e7 0, #0053a6 100%);
  /* background-image: -ms-linear-gradient(top, #4495e7 0, #0053a6 100%);
  background-image: -o-linear-gradient(top, #4495e7 0, #0053a6 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #4495e7),
    color-stop(100%, #0053a6)
  );
  background-image: -webkit-linear-gradient(top, #4495e7 0, #0053a6 100%);
  background-image: linear-gradient(to bottom, #4495e7 0, #0053a6 100%); */
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6); */
  -moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.35);
  -ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.35);
  -webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.35);
  box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.35);
}
